extends layout

block content
    h1 Message Board

    ul.messages
        each message in messages
            - const user = message.user
            include message
    unless messages.length
        p No messages have been sent, be the first!
