extends layout

block content
    .message-board
        h1.title Latest messages:

        ul
            each message in messages
                - const user = message.user
                include message
        unless messages.length
            p No messages have been sent, be the first!
