doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/nav-bar.css')
  body
    div.nav-bar
      ul
        li 
          a(href="/") Home
        if(currentUser !== undefined)
          li
            a(href="/logout") Log Out        
          li
            a(href="/new-message") New Message
        else
          li
            a(href="/login") Log In
          li
            a(href="/signup") Sign Up
        

    block content
