doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav-bar.css')
    link(rel='stylesheet', href='/stylesheets/message.css')

  body
    div.nav-bar
      ul
        li.homebtn 
          a(href="/") MessageBoard
        if(currentUser !== undefined)
          li.btn
            a(href="/logout") LOG OUT 
          li.btn
            a(href="/new-message") NEW MESSAGE
        else
          li.btn
            a(href="/login") LOG IN
          li.btn
            a(href="/signup") SIGN UP

    block content
