doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/nav-bar.css')
  body
    div.nav-bar
      ul
        li 
          a(href="/") Home
        li
          a(href="/sign-up") Sign Up
        li
          a(href="/log-in") Log In

    block content
