extends layout

block content
    .content
        h1 #{user.username}' messages

        ul.messages
            each message in messages
                if(message.isReply)
                    p #{message}
                include message