.message-card {
  margin: 0.75rem;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 1rem;
  max-width: 400px;
}

.message-card .username {
  font-size: 1.5rem;
  font-weight: 700;
}

.message-card .reply {
  display: flex;
}

.message-card .reply a {
  margin-left: auto;
}
