.message {
  margin: 1rem;
}

.message-card {
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 1rem;
  max-width: 400px;
}

.message-card .username {
  font-size: 1.5rem;
  font-weight: 700;
}

.message-card .reply {
  display: flex;
}

.message-card .reply a {
  margin-left: auto;
}

.replies .reply {
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: var(--secondary);
  border-radius: 0.25rem;
  max-width: 400px;
  margin-top: 0.25rem;
}
