@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-colour: #141414;
  --text-colour: #f0f0f0;
  --primary-colour: #a9eac4;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

a {
  color: #00b7ff;
}
